.feedback {
    margin: 0 0 0 30px;

    @include media(max-width-1301) {
        display: block;
    }
}

.feedback-button {
    height: 40px;
    display: flex;
    white-space: nowrap;
    border-radius: 50px;
    background: var(--boxes-color);
}

.feedback-form {
    background-color: #101116;
    padding: 20px;
    margin-top: 30px;
    width: 340px;
    border-radius: 12px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    animation: growOut 300ms ease-in-out forwards;
    transform-origin: top center;

    .feedback-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 263px;

        .feedback-step {
            display: flex;
            flex-direction: column;
            align-items:center;

            .icon-success {
                color: #ff009e;
                padding-bottom: 10px;
                font-size: x-large;
            }

            .icon-failure {
                color: #c41221;
                padding-bottom: 10px;
                font-size: x-large;
            }

            button {
                width: auto;
                height: 30px;
                font-size: 12px;
                margin-top: 10px;
            }
        }
    }

    .category-select {
        width:100%;
    
        select {
            width:100%;
            height:45px;
            border:none;
            padding:0 30px;
            font-size:16px;
            margin:0 0 20px 0;
            border-radius:16px;
            color:var(--text-color);
            -webkit-appearance: none;
             -moz-appearance: none;
             appearance: none;
             border: none;
             background-position: right 10px top 50%;
             background: var(--input-color) url("/static/img/icons/down-caret.svg") no-repeat 95% center;

        }
    }

    textarea {

        width:100%;
        border:none;
        padding: 20px 30px;
        font-size:16px;
        margin:0 0 20px 0;
        border-radius:16px;
        color:var(--text-color);
        background-color:var(--input-color);

        @include placeholder {
            color:var(--faint-color);
        }
    }

    button {
        width:100%;
        height:45px;
        flex-shrink:0;
        font-size:16px;

        &:disabled {
            background: #323335;
            transform: none;
        }
    }
}

@keyframes growOut {
     0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}
