<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.security">Security</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Security</h2>
    <p>SurrealDB offers powerful security features. Because of it's complexity, we dedicate this segment of the documentation how security works within SurrealDB, and to discuss best-practices.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<LinkTo @route="docs.security.paradigmes">
		<Layout::Boxes::Item mini hover>
			<h4>Paradigmes</h4>
			<p>Difference between System users and Scope authentication.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.security.scope-authentication">
		<Layout::Boxes::Item mini hover>
			<h4>Scope authentication</h4>
			<p>How to apply scope authentication, and how to set it up.</p>
		</Layout::Boxes::Item>
	</LinkTo>
	<LinkTo @route="docs.security.system-users">
		<Layout::Boxes::Item mini hover>
			<h4>System users</h4>
			<p>What can system users be used for, and how do you define them.</p>
		</Layout::Boxes::Item>
	</LinkTo>
</Layout::Boxes>

<Layout::Gap large />